.container {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #64ccc5;
  color: white;
  margin-bottom: 100vh;
  height: 8vh;
  padding: 8px;
}

.title {
  margin-left: 40%;
}

.menu:hover {
  cursor: pointer;
}
