.container {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #176b87;
  color: white;
  height: 8vh;
  padding: 8px;
}

.title {
  margin-left: 43vw;
}

.menu:hover {
  cursor: pointer;
}
